$blaze-orange-primary-color: (
    50 : #ffede0,
    100 : #ffd1b3,
    200 : #ffb380,
    300 : #ff944d,
    400 : #ff7d26,
    500 : #ff6600,
    600 : #ff5e00,
    700 : #ff5300,
    800 : #ff4900,
    900 : #ff3800,
    A100 : #ffffff,
    A200 : #fff4f2,
    A400 : #ffc9bf,
    A700 : #ffb4a6,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $dark-primary-text,
        700: $dark-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: black,
    )
);

$blaze-orange-primary: mat-palette($blaze-orange-primary-color,500, 300, 800);
$blaze-orange-accent: mat-palette($mat-amber, A200, A100, A700);
$blaze-orange-warn: mat-palette($mat-red, A200);

$blaze-orange-theme: mat-light-theme($blaze-orange-primary, $blaze-orange-accent,$blaze-orange-warn);
